#page-content {
    width: 100vw;
  }
  
  #floating-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  #inner-content {
    width: 50vw;
  }
  
  body {
    background-color: #E7ECEF;
  }
  
  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #272932;
  }
  
  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    color: #272932;
  }
  
  p > a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
  p > a:hover {
    color: #000;
  }
  
  p > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  
  p > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }